* {
  box-sizing: border-box;
}
.wrapper {
display: flex;
  .Side-bar {
    width: 300px;
    height: 100vh;
    background-color: #253141;
    &__header {
      height: 100px;
      padding: 0 20px;
      display: flex;
      align-items: center;
      .top-items {
        width: 100%;
        height: 20px;
        display: flex;
        justify-content: space-between;
        &__name{
          font-size: 16px;
          color: #ffffff;
        }
        &__icons{
          width: 60px;
          display: flex;
          justify-content: flex-end;
          i{
            color: #ffffff;
            margin-left: 5px;
          }
        }
      }
    }
    &__groups {
      height: calc( 100vh - 100px );
      background-color: #2f3e51;
      color: #ffffff;
      .side-box{
        padding: 20px 20px 40px 20px;
        a{
          text-decoration: none;
          color:white;
        }
        .side-title{
          font-size: 15px;
          margin-bottom: 5px;
        }
        .side-message{
          font-size: 11px;
        }
      }
    }
  }
  .Chat-main {
    width: calc( 100vw - 300px );
    height: 100vh;
    &__group-info {
      height: 100px;
      background-color: #ffffff;
      padding: 0 40px;
      display: flex;
      justify-content: space-between;
      .info-box{
        .info-title{
          margin: 35px 0 15px 0;
          font-size: 20px;
          color: #333333;
        }
        .info-member{
          font-size: 12px;
          color: #999999;
        }
      }
      .info-button{
        width: 72px;
        height: 40px;
        margin-top: 28px;
        font-size: 16px;
        a{
          padding: 10px 20px;
          margin-top: 28px;
          color: #38aef0;
          border: 1px solid;
          text-decoration: none;
        }
      }
    }
    &__message-list {
      height: calc( 100vh - 100px - 90px);
      padding: 35px 0 0 40px;
      background-color: #fafafa;
      overflow: scroll;
      .message-data{
        display: flex;
        margin-bottom: 12px;
        &__name{
          font-size: 16px;
          color: #333333;
        }
        &__date-time{
          font-size: 12px;
          color: #999999;
          padding-left: 10px;
        }
      }
      .message-data__text{
        font-size: 14px;
        color: #434a54;
        margin-bottom: 46px;
        
      }
      
      
    }
    &__message-form{
      height: 90px;
      padding: 20px 40px;
      background-color: #d2d2d2;
      .form{
        display: flex;
        .input-box{
          display: flex;
          width: 100%;
          position: relative;
          &__text{
            height: 50px;
            width: 100%;
            padding: 0 10px;
            border-style: none;
          }
          &__image{
            position: absolute;
            top: 10px;
            right: 10px;

            &__file{
              display: none;
            }
          }
        }
      }
      
        
      
      .submit-btn{
        height: 50px;
        width: 100px;
        margin-left: 15px;
        font-size: 16px;
        background-color: #38aef0;
        color: #ffffff;
        border-style: none;
      }
    }
  }
}

